<h1>Hello Pierre! Let's manage your business!</h1>
<a href='/vendors/new'>Add a new vendor</a>
<a href='/vendors'>Manage your vendors</a>

<a href='orders/new'>Add a new order</a>
<a href='/orders'>Manage your orders</a>

