<form action="/orders" method="post">
  <label for="name">Order Name</label>
  <input id="name" name="name" type="text">
  
  <label for="description">Order Description</label>
  <input id="description" name="description" type="text">
  
  <label for="price">Order Price</label>
  <input id="price" name="price" type="text">
  
  <label for="date">Order Date</label>
  <input id="date" name="date" type="text">
  
  <button type="submit">Submit</button>
</form>